# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Openrouter API
OPENROUTER_API=your-api-key
OPENROUTER_MODEL="google/gemma-3-27b-it:free"

#DeepInfra API
DEEPINFRA_API=your_api
DEEPINFRA_MODEL=your_model

# Docling
DOCLING_URL=http://localhost:5001
# Set to false to skip OCR if you don't have easyocr installed
DOCLING_OCR=false

#Mistral AI
mistral_ocr_api=your_api
mistral_model=your_model
